<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [2]:
# Read CSV
wine_csv = 'winequality_merged.csv'
df = pd.read_csv(wine_csv)

#### 1.2 Explore Data (Exploratory Data Analysis)

In [3]:
# ANSWER
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [4]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
red_wine                  int64
dtype: object

In [5]:
df.corr()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
fixed acidity,1.000000,0.219008,0.324436,-0.111981,0.298195,-0.282735,-0.329054,0.458910,-0.252700,0.299568,-0.095452,-0.076743,0.486740
volatile acidity,0.219008,1.000000,-0.377981,-0.196011,0.377124,-0.352557,-0.414476,0.271296,0.261454,0.225984,-0.037640,-0.265699,0.653036
citric acid,0.324436,-0.377981,1.000000,0.142451,0.038998,0.133126,0.195242,0.096154,-0.329808,0.056197,-0.010493,0.085532,-0.187397
residual sugar,-0.111981,-0.196011,0.142451,1.000000,-0.128940,0.402871,0.495482,0.552517,-0.267320,-0.185927,-0.359415,-0.036980,-0.348821
chlorides,0.298195,0.377124,0.038998,-0.128940,1.000000,-0.195045,-0.279630,0.362615,0.044708,0.395593,-0.256916,-0.200666,0.512678
free sulfur dioxide,-0.282735,-0.352557,0.133126,0.402871,-0.195045,1.000000,0.720934,0.025717,-0.145854,-0.188457,-0.179838,0.055463,-0.471644
total sulfur dioxide,-0.329054,-0.414476,0.195242,0.495482,-0.279630,0.720934,1.000000,0.032395,-0.238413,-0.275727,-0.265740,-0.041385,-0.700357
density,0.458910,0.271296,0.096154,0.552517,0.362615,0.025717,0.032395,1.000000,0.011686,0.259478,-0.686745,-0.305858,0.390645
pH,-0.252700,0.261454,-0.329808,-0.267320,0.044708,-0.145854,-0.238413,0.011686,1.000000,0.192123,0.121248,0.019506,0.329129
sulphates,0.299568,0.225984,0.056197,-0.185927,0.395593,-0.188457,-0.275727,0.259478,0.192123,1.000000,-0.003029,0.038485,0.487218
alcohol,-0.095452,-0.037640,-0.010493,-0.359415,-0.256916,-0.179838,-0.265740,-0.686745,0.121248,-0.003029,1.000000,0.444319,-0.032970
quality,-0.076743,-0.265699,0.085532,-0.036980,-0.200666,0.055463,-0.041385,-0.305858,0.019506,0.038485,0.444319,1.000000,-0.119323
red_wine,0.486740,0.653036,-0.187397,-0.348821,0.512678,-0.471644,-0.700357,0.390645,0.329129,0.487218,-0.032970,-0.119323,1.000000

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,6497.0,7.215307,1.296434,3.80000,6.40000,7.00000,7.70000,15.90000
volatile acidity,6497.0,0.339666,0.164636,0.08000,0.23000,0.29000,0.40000,1.58000
citric acid,6497.0,0.318633,0.145318,0.00000,0.25000,0.31000,0.39000,1.66000
residual sugar,6497.0,5.443235,4.757804,0.60000,1.80000,3.00000,8.10000,65.80000
chlorides,6497.0,0.056034,0.035034,0.00900,0.03800,0.04700,0.06500,0.61100
free sulfur dioxide,6497.0,30.525319,17.749400,1.00000,17.00000,29.00000,41.00000,289.00000
total sulfur dioxide,6497.0,115.744574,56.521855,6.00000,77.00000,118.00000,156.00000,440.00000
density,6497.0,0.994697,0.002999,0.98711,0.99234,0.99489,0.99699,1.03898
pH,6497.0,3.218501,0.160787,2.72000,3.11000,3.21000,3.32000,4.01000
sulphates,6497.0,0.531268,0.148806,0.22000,0.43000,0.51000,0.60000,2.00000
alcohol,6497.0,10.491801,1.192712,8.00000,9.50000,10.30000,11.30000,14.90000
quality,6497.0,5.818378,0.873255,3.00000,5.00000,6.00000,6.00000,9.00000
red_wine,6497.0,0.246114,0.430779,0.00000,0.00000,0.00000,0.00000,1.00000

### 2. Set Target Variable

Create a target variable for wine quality.

In [7]:
# Target Variable
y = df['quality']
y

0       5
1       5
2       5
3       6
4       5
       ..
6492    6
6493    5
6494    6
6495    7
6496    6
Name: quality, Length: 6497, dtype: int64

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [9]:
# ANSWER
X = df[['alcohol', 'density', 'volatile acidity', 'chlorides']]
X

      alcohol  density  volatile acidity  chlorides
0         9.4  0.99780              0.70      0.076
1         9.8  0.99680              0.88      0.098
2         9.8  0.99700              0.76      0.092
3         9.8  0.99800              0.28      0.075
4         9.4  0.99780              0.70      0.076
...       ...      ...               ...        ...
6492     11.2  0.99114              0.21      0.039
6493      9.6  0.99490              0.32      0.047
6494      9.4  0.99254              0.24      0.041
6495     12.8  0.98869              0.29      0.022
6496     11.8  0.98941              0.21      0.020

[6497 rows x 4 columns]

### 4. Using Linear Regression Create a Model and Test Score

In [51]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [52]:
# Train-Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [53]:
# Create a model for Linear Regression
lm = LinearRegression()
# Fit the model with the Training data
lm.fit(X_train, y_train)
# Calculate the score (R^2 for Regression) for Training Data
print("model score of trained set:", lm.score(X_train, y_train))
# Calculate the score (R^2 for Regression) for Testing Data
print("model score of test set:", lm.score(X_test, y_test))

model score of trained set: 0.2707886547599643
model score of test set: 0.2521354751304965

### BONUS: Cross validation

In [54]:
# Cross validation 
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error

In [55]:
print(type(y))

<class 'pandas.core.series.Series'>

In [56]:
# Set up 5-fold cross validation  
k_fold = KFold(5, shuffle=True)
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

for k, (train, test) in enumerate(k_fold.split(X)):
    # Print and show that the index of predictor matrix is returned
    print('k:', k, 'TRAIN:', train, 'TEST:', test)
    # Get training and test sets for X and y
    X_train, X_test = X.iloc[train,:], X.iloc[test,:]
    # Fit model with training set
    y_train, y_test = y[train], y[test]
    # Make predictions with training and test set
    yhat_train = lm.predict(X_train)
    yhat_test = lm.predict(X_test)
    # Score R2 and RMSE on training and test sets and store in list
    train_scores.append(lm.score(X_train, y_train))
    train_rmse.append(np.sqrt(mean_squared_error(y_train, yhat_train)))
    test_scores.append(lm.score(X_test, y_test))
    test_rmse.append(np.sqrt(mean_squared_error(y_test, yhat_test)))
    
# Create a metrics_df dataframe to display r2 and rmse scores
pd.DataFrame(list(zip(train_scores,train_rmse,test_scores,test_rmse)), columns=['train_scores','train_rmse','test_scores','test_rmse'])

k: 0 TRAIN: [   1    3    5 ... 6492 6494 6495] TEST: [   0    2    4 ... 6480 6493 6496]
k: 1 TRAIN: [   0    2    3 ... 6494 6495 6496] TEST: [   1    5    6 ... 6483 6487 6492]
k: 2 TRAIN: [   0    1    2 ... 6494 6495 6496] TEST: [  31   34   38 ... 6482 6486 6491]
k: 3 TRAIN: [   0    1    2 ... 6493 6495 6496] TEST: [   3    7   10 ... 6489 6490 6494]
k: 4 TRAIN: [   0    1    2 ... 6493 6494 6496] TEST: [   9   20   25 ... 6477 6485 6495]

   train_scores  train_rmse  test_scores  test_rmse
0      0.268151    0.745362     0.263630   0.755820
1      0.268520    0.753175     0.261574   0.724194
2      0.265682    0.745653     0.272826   0.754676
3      0.270069    0.746020     0.255870   0.753224
4      0.263630    0.747092     0.280646   0.748960

In [ ]:
# Describe the metrics
# Cross validation returns consistent scores of around 0.25 to 0.27. Our model is highly accurate.

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2021 Institute of Data


---



---